:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}



/* Основні стилі для форми */
.form {
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;

  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

/* Стиль для елементів форми */
.form label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

/* Інпут пошуку */
.form input[type="text"] {
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

/* Інтерактивність для інпуту */
.form input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Кнопка пошуку */
.form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Ховер для кнопки */
.form button:hover {
  background-color: #0056b3;
}

/* Стили для UL */
ul.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Стили для LI */
li.gallery-item {
  flex-basis: calc(33.3333% - 20px);
  /* три елементи в рядок */
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

li.gallery-item:hover {
  transform: scale(1.05);
}

/* Стили для ссылок и изображений */
.gallery-link {
  display: block;
  text-decoration: none;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Стили для блока информации */
.info {
  padding: 10px;
  background-color: #f9f9f9;
}

.info-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 5px;
}

.info-item span {
  font-weight: bold;
}